body {
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 59px;
}

.h1, h1 {
    font-size: 2.25rem;
    font-weight: bold;
    color: #18448E;
}

.yellow {
    color: #f1e36a;
}
.nav-item {
    margin-left: 30px;
    font-weight: normal;
    font-size: 18px;
    color: #615e62;
}

.hero-image {
    position: relative;
    background-image: linear-gradient(to bottom, #D24B2C, #D24B2C);
    min-height: 340px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero-text {
    /*margin-top: 40px;*/
    /*margin-bottom: 40px;*/
}

.hero-text h1 {
    text-shadow: 0 6px 4px rgba(0, 0, 0, 0.5);
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
}

.hero-text h4 {
    color: white;
}

.presentacion h1, h3 {
    color: #D24B2C;
}

.presentacion p {
    font-size: 1.2rem;
    color: #454545;

}

.curso {
    background: #a25056;
    color: #F5F5F5;
    font-size: 1.2rem;
    font-weight: 300;
    min-height: 100px;
}

#invitados {
    background: #0F3E64;
    padding-top: 40px;
    padding-bottom: 40px;
    color:  #ffffff;
}

.invitados h1, h2 {
    color: #f1e36a;
    margin-top: 10px;
}

.invitados h3 {
    color: #F5F5F5;
    margin-top: .75rem;
    margin-bottom: 1px;
}

.invitados p {
    color:  #ffffff;
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
}

.invitados  .ponente {
    font-size: 1.5rem;
    font-weight: bold;
}

.invitados .titulo {
    color: #f1e36a;
    font-size: 1.4rem;
}

#estudiantes {
    background: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    color:  #000000;
}
.estudiantes h1, h2 {
    color: #0F3E64;
    margin-top: 10px;
}
.estudiantes .nombre {
    font-size: 1.4rem;
    font-weight: bold;
    color: #d24b2c; /* #343a40; */
}

.estudiantes .lead {
    font-size: 18px;
    margin-top: 5px;
}

.programa {
    background-color: #D24B2C;
    min-height: 340px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

.programa h1 {
    color: white;
}

.programa h4 {
    color: white;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #ffffff;
}

.btn-secondary {
    color: #fff;
    background-color: #D24B2C;
    border-color: #D24B2C;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #0F3E64;
    border-color: #0F3E64;
}



.ramen-shop {
    background: url(../img/ramen-shop.png) no-repeat center;
    background-size: cover;
    background-position: center;
    height: 450px;

/*    ￼    background: url(../img/hero.png) no-repeat center;*/
/*￼    background-size: cover;*/
/*￼    height: 620px;*/
/*￼    background-position: center;*/

}

.scientific h3 {
    margin-top: .75rem;
    margin-bottom: 1px;
}

.scientific p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #454545;
}

#organizing {
    background: #454545;
    padding-top: 40px;
    padding-bottom: 40px;
}

.organizing h1 {
    margin-top: 10px;
    color: white;
}

.organizing h3 {
    color: white;
    margin-top: .75rem;
    margin-bottom: 1px;
}

.organizing p {
    color: lightblue;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}


.footer {
    padding-top: 20px;
    background-color: #343a40!important;
    padding-top: 50px;
    padding-bottom: 50px;
}

.logo-footer {
    margin-left: 25px;
    margin-top: 20px;
}

.logo-container {
    display:inline-block!important;
    justify-content:left!important;
}

.card-body p {
    font-size: 1.1rem;
}

.modal-body {
    padding: 2rem;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    body {
        margin-top: 56px;
    }

    .hero-text h1 {
        font-size: 36px;
    }
    .presentacion p {
        font-size: 1.1rem;
    }

    .logo-footer {
        margin-left: 0px;
        margin-top: 25px;
    }

    .logo-container {
        display:flex!important;
        justify-content:center!important;
    }
}
@media only screen and (max-width: 770px) {
  #plato {
    display: none;
  }
}

.triangles {
    clip-path: polygon(50% 0%, 0% 100%, 51% 100%);
    border-color: red;
}

